/* Links */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:wght@300;400;600;700;900&display=swap');

a {
  text-decoration: none;
}

/* Reset */
body {
  margin: 0 auto;
  max-width: 1440px;
}

.page-view {
  width: 100%;
  overflow-x: hidden;

}

body.page-is-transitioning #page-content {
  opacity: 0;
}

.top-bar-meniitem:hover {
  border-bottom: 5px solid #00a4db;
} 

.top-bar-meniitem {
  letter-spacing: 0.5px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: -30px;
}

