/* Links */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

a {
  text-decoration: none;
}
#sidebar a {
  padding: 2px 10px;
  margin-left: -10px;
}
#sidebar a.is-active {
  background-color: #eee;
}

/* Reset */
body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

/* Page Transition Anmiation */
#page-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
body.page-is-transitioning #page-content {
  opacity: 0;
}

.top-bar-meniitem:hover {
  border-bottom: 6px solid #00a4db;
} 

.top-bar-meniitem {
  letter-spacing: 0.5px;
  margin-right: 8px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: -36px;
}

.colors {
/*brand*/ color: #005c88;
/*brand-light*/  color: #007faf;
/*brand-dark*/ color: #00254b;
/*brand-inv*/  color: #eee;
/*paper*/  color: #fff;
/*paper-inv*/  color: #000;
/*paper-link*/  color: #005c88;
/*paper-link-hover*/  color: #007faf;
/*paper-border*/  color: #e7e7e7;
}